@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(34, 117, 196);
  transition: 0.4s;
  padding: 3px;
  margin-right:20px;
}

.router-link-exact-active {
    text-decoration: underline;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(213, 96%, 83%, 0.541);
  }
}
